.task-card {
  background: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
  font-family: "Inter", sans-serif;
  height: 170px;
  display: flex;
  flex-direction: column;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
}

.task-title-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.status-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid;
}
.icon {
  height: 18px;
  width: 24px;
}

.status-dot.not-started {
  border-color: #ff4d4d;
}
.status-dot.in-progress {
  border-color: #0052ff;
}
.status-dot.completed {
  border-color: #00ca71;
}

.task-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  margin: 0;
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.task-text-info {
  flex: 1;
}

.task-description {
  font-size: 14px;
  color: #8a8d91;
  line-height: 1.6;
  margin-bottom: 20px;
}

.task-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 12px;
  width: 100%;
  margin-top: auto;
}

.meta-label {
  color: #212427;
  font-weight: 600;
  margin-right: 5px;
}

.meta-value {
  font-weight: 500;
}

.priority-moderate {
  color: #56ccf2;
}
.status-text-not-started {
  color: #ff4d4d;
}
.status-text-in-progress {
  color: #0052ff;
}

.meta-date {
  color: #a1a3ab;
  margin-left: auto;
}

.task-image-container {
  width: 80px;
  height: 80px;
}

.task-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
