.dashboard-main {
  padding: 50px;
  width: 80%;
  height: 100%;
}
.dashboard-grid {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #a1a3ab;
  width: 100%;
  height: 94%;
}

.task-card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--border-light);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 10px;
}

.welcome-text h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--primary-dark);
  margin: 0;
}

.team-avatars {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team-avatars img,
.more-count {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid var(--bg-color);
  object-fit: cover;
  margin-left: -10px;
  transition: transform 0.2s ease;
}

.team-avatars img:first-child {
  margin-left: 0;
}

.team-avatars img:hover {
  transform: translateY(-5px);
  z-index: 2;
}

.more-count {
  background-color: var(--primary-dark);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  z-index: 1;
}

.invite-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: var(--focus-color);
  border: 1px solid var(--focus-color);
  padding: 8px 16px;
  border-radius: 8px;
  margin-left: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.invite-btn:hover {
  background-color: var(--focus-color);
  color: white;
}
