.task-details-page {
  padding: 30px;
  padding-top: 70px;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1%;
}

.card {
  background: white;
  border-radius: 24px;
  padding: 24px;
  border: 1px solid #e2e8f0;
}
.card.tasks {
  width: 40%;
}
.card.details {
  width: 60%;
}

.sidebar-title {
  border-bottom: 2px solid #ff4d4d;
  width: fit-content;
  margin-bottom: 20px;
  font-size: 18px;
}

.details-header {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.details-image {
  width: 120px;
  height: 120px;
  border-radius: 16px;
  object-fit: cover;
}
.details-title-block {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.details-title-block h2 {
  font-weight: 600;
}
.details-meta {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}
.red-text {
  color: var(--focus-color);
}
.gray-text {
  font-size: 12px;
  color: #a1a3ab;
}
.details-body {
  color: #4a5568;
  line-height: 1.6;
}

.details-body p {
  margin-bottom: 15px;
}

.additional-notes ul {
  padding-left: 20px;
  padding-bottom: 2px;
}

.details-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: auto;
}

.details-body {
  font-size: 16px;
  color: #747474;
  font-family: "Inter", sans-serif;
}
.details-body strong {
  font-weight: 600;
}

.action-btn {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #ff4d4d;
}

.selected {
  background-color: rgba(161, 163, 171, 0.2);
}
