:root {
  --text-color: #212427;
  --focus-color: #ff6767;
  --bg-color: #ffffff;

  --primary-dark: #020e35;
  --accent-blue: #008dda;

  --date-blue: #00cec9;
  --header-bg: #f8f8f8;
  --border-light: #e0e0e0;
}
