.login {
  .auth-card {
    .auth-image {
      flex: 1;
      display: flex;
      align-items: end;
      justify-content: end;
      background-color: var(--bg-color);
      padding-right: 40px;
      width: 50%;

      img {
        width: 100%;
        height: auto;
        max-width: 600px;
      }
    }
  }
  .auth-form-container {
    form {
      gap: 25px;
    }
  }
}
