.main-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--content-bg);
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
}
.header-section {
  width: 100%;
  height: 10%;
}

.sidebar-section {
  width: 20%;
  height: 100%;
  display: flex;
}

.dashboard {
  height: 91% !important;
}

.content-section {
  width: 80%;
  height: 100%;
  display: flex;
}
