.registartion {
  .auth-card {
    .auth-image {
      flex: 1;
      display: flex;
      align-items: end;
      justify-content: start;
      background-color: var(--bg-color);
      padding-bottom: 5px;
      width: 50%;

      img {
        width: 100%;
        height: auto;
        max-width: 450px;
      }
    }
  }
  .auth-form-container {
    form {
      gap: 15px;
    }
  }
}
