@import "./scss/utils/removes";
@import "./scss/utils/variables";
@import "./scss/utils/fonts";
@import "./scss/utils/base";

@import "./scss/components/reg-log-components/button";
@import "./scss/components/reg-log-components/body";
@import "./scss/components/reg-log-components/input";
@import "./scss/components/reg-log-components/checkbox";
@import "./scss/components/reg-log-components/text-row";

@import "./scss/components/main/header";
@import "./scss/components/main/sidebar";
@import "./scss/components/main/dashboard";
@import "./scss/components/main/dashboard/to-do";
@import "./scss/components/main/dashboard/task-card";
@import "./scss/components/main/dashboard/status-chart";
@import "./scss/components/main/my-task";

@import "./scss/pages/login";
@import "./scss/pages/registration";
@import "./scss/pages/main";
