@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --text-color: #212427;
  --focus-color: #ff6767;
  --bg-color: #ffffff;
  --primary-dark: #020e35;
  --accent-blue: #008dda;
  --date-blue: #00cec9;
  --header-bg: #f8f8f8;
  --border-light: #e0e0e0;
  --content-bg: #f5f8ff;
}

/* Montserrat Regular */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Montserrat Italic */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
/* Montserrat Thin (100) */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
/* Montserrat Light (300) */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* Montserrat Medium (500) */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Montserrat SemiBold (600) */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Montserrat Bold (700) */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Montserrat ExtraBold (800) */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* Montserrat Black (900) */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "Montserrat" !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

button {
  cursor: pointer;
}

html {
  height: 100vh;
  width: 100vw;
}

.main {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.red-button {
  width: 16%;
  min-width: 120px;
  max-width: 129px;
  height: 8%;
  min-height: 50px;
  max-height: 60px;
  border: 0;
  background-color: var(--focus-color);
  color: var(--bg-color);
  border-radius: 5px;
  font-size: 100%;
}

div.reg-log {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--focus-color);
  background-image: url("../images/authentication_background.png");
  background-size: cover;
  padding: 20px;
}

.auth-card {
  display: flex;
  background: var(--bg-color);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 1800px;
  width: 86%;
  min-width: 300px;
  overflow: hidden;
  min-height: 150px;
  height: 75%;
  max-height: 1200px;
}
.auth-card .auth-form-container {
  flex: 1;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.auth-card .auth-form-container h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 700;
}
.auth-card .auth-form-container form {
  display: flex;
  flex-direction: column;
}

.auth-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}
.auth-footer a {
  color: var(--accent-blue);
  text-decoration: none;
  font-weight: bold;
}

.input-wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  height: 70px;
  border: 1px solid #565454;
  border-radius: 8px;
  padding: 0 15px;
  background-color: var(--bg-color);
  transition: border-color 0.3s ease;
}
.input-wrapper .input-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  margin-right: 12px;
}
.input-wrapper .input-icon-container .input-icon {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.input-wrapper .input-field-container {
  flex: 1;
}
.input-wrapper .input-field-container .input-field {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--text-color);
  background: transparent;
}
.input-wrapper .input-field-container .input-field::-moz-placeholder {
  color: #999999;
  font-weight: 400;
}
.input-wrapper .input-field-container .input-field::placeholder {
  color: #999999;
  font-weight: 400;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: var(--primary-dark);
}

.checkbox-label {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: var(--text-color);
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
}

.social-auth-container {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.social-login-row {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  color: var(--text-color);
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s;
}

.social-icon:hover {
  transform: scale(1.1);
}

.auth-footer {
  font-size: 16px;
  color: var(--text-color);
  display: flex;
  align-items: start;
}

.create-link {
  color: var(--accent-blue);
  cursor: pointer;
  text-decoration: none;
}

.create-link:hover {
  text-decoration: underline;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  background-color: var(--header-bg);
  box-shadow: 0 4px 12px var(--border-light);
  color: var(--text-color);
  height: 100px;
}

.header-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-dark);
}

.accent-text {
  color: var(--focus-color);
}

.header-search {
  display: flex;
  align-items: center;
  flex: 0 1 650px;
  background-color: var(--bg-color);
  border-radius: 12px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
  height: 40px;
  padding-left: 10px;
}

.header-search:focus-within {
  border-color: var(--focus-color);
}

.search-field {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 0.9rem;
}

.search-submit {
  background-color: var(--focus-color);
  color: white;
  border: none;
  padding: 8px 9px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: opacity 0.2s;
  height: 100%;
}

.search-submit:hover {
  opacity: 0.9;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-icon {
  background-color: var(--focus-color);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-date {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 30px;
  justify-content: space-between;
  font-family: sans-serif;
}

.date-day {
  font-weight: 700;
  font-size: 0.95rem;
  color: var(--primary-dark);
}

.date-full {
  font-size: 0.85rem;
  color: var(--date-blue);
  font-weight: 500;
}

.sidebar {
  width: 20%;
  height: 950px;
  background-color: var(--focus-color);
  display: flex;
  margin-top: auto;
  flex-direction: column;
  padding: 0 20px 30px 20px;
  color: white;
  border-radius: 0 20px 0 0;
}

.sidebar-profile {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.profile-avatar {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 2px solid var(--bg-color);
  margin: 0 auto -40px;
  position: relative;
  top: -60px;
  overflow: hidden;
  background: #eee;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

.profile-email {
  font-size: 0.75rem;
  opacity: 0.8;
  margin: 5px 0 0;
}

.sidebar-nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  font-size: 0.95rem;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-item.active {
  background-color: var(--bg-color);
  color: var(--focus-color);
}

.nav-icon {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.sidebar-logout {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
}

.dashboard-main {
  padding: 50px;
  width: 80%;
  height: 100%;
}

.dashboard-grid {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #a1a3ab;
  width: 100%;
  height: 94%;
}

.task-card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--border-light);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 10px;
}

.welcome-text h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--primary-dark);
  margin: 0;
}

.team-avatars {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team-avatars img,
.more-count {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid var(--bg-color);
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -10px;
  transition: transform 0.2s ease;
}

.team-avatars img:first-child {
  margin-left: 0;
}

.team-avatars img:hover {
  transform: translateY(-5px);
  z-index: 2;
}

.more-count {
  background-color: var(--primary-dark);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  z-index: 1;
}

.invite-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: var(--focus-color);
  border: 1px solid var(--focus-color);
  padding: 8px 16px;
  border-radius: 8px;
  margin-left: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.invite-btn:hover {
  background-color: var(--focus-color);
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--bg-color);
  border-radius: 20px;
  padding: 20px;
}

.todo {
  height: 100%;
  width: 49%;
}

.complete-tasks {
  height: 69%;
  width: 100%;
}

.task-status {
  height: 29%;
  width: 100%;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
  height: 100%;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.column-header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-to-do {
  width: 30px;
  height: 30px;
}

.icon-status {
  width: 22px;
  height: 22px;
}

.icon-tasks {
  width: 22px;
  height: 22px;
}

.column-header h3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--focus-color);
  margin: 0;
}

.icon-plus {
  width: 12px;
  height: 12px;
}

.add-task-btn {
  background: transparent;
  border: none;
  color: #a1a3ab;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease;
  display: flex;
  gap: 5px;
  align-items: center;
}

.add-task-btn:hover {
  color: var(--focus-color);
}

.current-date {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 10px;
}

.current-date span {
  color: #a1a3ab;
  font-weight: 400;
}

.status-column {
  width: 50%;
}

.task-card {
  background: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
  font-family: "Inter", sans-serif;
  height: 170px;
  display: flex;
  flex-direction: column;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
}

.task-title-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.status-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid;
}

.icon {
  height: 18px;
  width: 24px;
}

.status-dot.not-started {
  border-color: #ff4d4d;
}

.status-dot.in-progress {
  border-color: #0052ff;
}

.status-dot.completed {
  border-color: #00ca71;
}

.task-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  margin: 0;
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.task-text-info {
  flex: 1;
}

.task-description {
  font-size: 14px;
  color: #8a8d91;
  line-height: 1.6;
  margin-bottom: 20px;
}

.task-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 12px;
  width: 100%;
  margin-top: auto;
}

.meta-label {
  color: #212427;
  font-weight: 600;
  margin-right: 5px;
}

.meta-value {
  font-weight: 500;
}

.priority-moderate {
  color: #56ccf2;
}

.status-text-not-started {
  color: #ff4d4d;
}

.status-text-in-progress {
  color: #0052ff;
}

.meta-date {
  color: #a1a3ab;
  margin-left: auto;
}

.task-image-container {
  width: 80px;
  height: 80px;
}

.task-card-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.status-widget-card {
  background: white;
  border-radius: 20px;
  border: 1px solid #e2e8f0;
  margin-bottom: 24px;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.charts-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.status-chart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* Сама діаграма */
.circular-chart {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Біле коло всередині, щоб зробити "бублик" */
.chart-inner {
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.percent-text {
  font-size: 14px;
  font-weight: 700;
  color: #212427;
}

.chart-label {
  font-size: 12px;
  color: #8a8d91;
  font-weight: 500;
  white-space: nowrap;
}

.login .auth-card .auth-image {
  flex: 1;
  display: flex;
  align-items: end;
  justify-content: end;
  background-color: var(--bg-color);
  padding-right: 40px;
  width: 50%;
}
.login .auth-card .auth-image img {
  width: 100%;
  height: auto;
  max-width: 600px;
}
.login .auth-form-container form {
  gap: 25px;
}

.registartion .auth-card .auth-image {
  flex: 1;
  display: flex;
  align-items: end;
  justify-content: start;
  background-color: var(--bg-color);
  padding-bottom: 5px;
  width: 50%;
}
.registartion .auth-card .auth-image img {
  width: 100%;
  height: auto;
  max-width: 450px;
}
.registartion .auth-form-container form {
  gap: 15px;
}

.main-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--content-bg);
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
}/*# sourceMappingURL=main.css.map */