div.reg-log {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--focus-color);
  background-image: url("../images/authentication_background.png");
  background-size: cover;
  padding: 20px;
}

.auth-card {
  display: flex;
  background: var(--bg-color);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 1800px;
  width: 86%;
  min-width: 300px;
  overflow: hidden;
  min-height: 150px;
  height: 75%;
  max-height: 1200px;

  .auth-form-container {
    flex: 1;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    h2 {
      font-size: 2rem;
      margin-bottom: 30px;
      font-weight: 700;
    }

    form {
      display: flex;
      flex-direction: column;
    }
  }
}

.auth-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;

  a {
    color: var(--accent-blue);
    text-decoration: none;
    font-weight: bold;
  }
}
