.red-button {
  width: 16%;
  min-width: 120px;
  max-width: 129px;
  height: 8%;
  min-height: 50px;
  max-height: 60px;
  border: 0;
  background-color: var(--focus-color);
  color: var(--bg-color);
  border-radius: 5px;
  font-size: 100%;
}
